image_data.npy
label_data.npy
captcha.jpeg
data/captcha-tile-0.jpeg
data/captcha-tile-1.jpeg
data/captcha-tile-2.jpeg
data/captcha-tile-3.jpeg
data/captcha-tile-4.jpeg
data/captcha-tile-5.jpeg
data/captcha-tile-6.jpeg
data/captcha-tile-7.jpeg
data/captcha-tile-8.jpeg
